@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.login-main {
  padding-top: 56px;
  font-family: Montserrat;
  background: white;

}

.Login {
  background-color: rgb(255, 255, 255);
}

.Auth-form-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;

}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(175, 225, 175);
}
.nav-link {
  font-family: Montserrat;
  font-size: 18;
}
.fpassword{
  color: rgb(175, 225, 175);
}

.main-about{
  padding-top: 56px;
}