@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.login-main {
  padding-top: 56px;
  font-family: Montserrat;
  background: white;

}

.Login {
  background-color: rgb(255, 255, 255);
}

.Auth-form-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;

}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.btn{
  color: rgb(255, 255, 255);
  background-color:#7B9E7F
}
.nav-link {
  font-family: Montserrat;
  font-size: 18;
}
.fpassword{
  color: rgb(175, 225, 175);
}

.main-about{
  padding-top: 56px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}